.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 4px 0 #121419;
  background-color: #fff;
  top: 0;
  position: sticky;
  z-index: 100;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  align-items: center;
  transition: color 0.2s;
}

.navLink {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;

  &:hover {
    color: #8b8b8b;
  }
}

/* Responzivno za male ekrane */
@media (max-width: 600px) {
  .navLinks {
    gap: 1rem;
  }
}

.active {
  border-bottom: 2px solid #050505;
  padding-bottom: 2px;
}

[data-theme="dark"] {
  .navbar {
    background-color: #2d2d2d;
    box-shadow: 0 0 4px 0 #fff;
  }

  .navLink {
    color: #fff;

    &:hover {
      color: #8b8b8b;
    }
  }

  .active {
    border-bottom: 2px solid #fff;
  }
  
}