.select {
  display: flex;
  flex-direction: column;

  .selectField {
    position: relative;
    display: flex;
    align-items: center;
    border: solid 1px #ccc;
    height: 40px;
    width: 270px;
    margin-bottom: 16px;
    border-radius: 20px;
    background-color: #fff;
    padding: 0 12px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;

    &.marginNone {
      margin-bottom: 0;
    }

    .options {
      z-index: 99;
      background-color: #fff;
      list-style-type: none;
      position: absolute;
      text-align: left;
      width: 100%;
      top: 100%;
      left: 0;
      margin: 12px 0 0 0;
      border: solid 1px #ccc;
      border-radius: 12px;
      padding: 4px 0;
      box-sizing: border-box;
      max-height: 240px;
      overflow-y: auto;
      overscroll-behavior: contain;

      li {
        padding: 8px 12px;
        cursor: pointer;

        &:hover {
          color: #4e4e4e;
        }
      }
    }

    .selectPlaceholder {
      color: #bababa;
    }

    &.disabled {
      color: #bababa;
      pointer-events: none;
    }
  }

  .selectLabel {
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .select {
    .selectField {
      font-size: 14px;
      padding: 10px;
      width: 100%;
    }
  }
}

.options {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
}

[data-theme="dark"] {
  .select {
    .selectField {
      background-color: #18181f;
      color: #fff;
      border: solid 1px #555;
      transition: all 0.3s ease;

      .options {
        background-color: #18181f;
        border: solid 1px #555;
        transition: all 0.3s ease;

        li {
          &:hover {
            color: #cecece;
          }
        }
      }

      &.disabled {
        color: #aaa;
      }
    }
  }
}
