.container {
  padding: 0 2rem 4rem;
  // max-width: 1024px;
  margin: 0 auto;

  .filter {
    display: flex;
    justify-content: space-around;
    background-color: #eaeaea;
    padding-top: 16px;
    border-radius: 0px 0px 24px 24px;
  }
  @media (max-width: 768px) {
    .filter {
      flex-direction: column;
      align-items: center;
    }
  }
}
.card {
  height: 100%;
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

/* MOBILE */
@media (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .container {
    padding: 0rem 1rem;
  }

  .title {
    font-size: 22px;
  }
}
.empty {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  color: #777;
}

[data-theme="dark"] {
  .title {
    color: #fff;
    transition: all 0.3s ease;
  }
}

.select {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  margin: 10px 0;
  cursor: pointer;
  background: white;
}

.selectSkeleton {
  width: 200px;
  height: 38px;
  background: #eee;
  border-radius: 8px;
  margin: 10px 0;
}

[data-theme="dark"] {
  .filter {
    background-color: #18181f;
  }
}
