.card {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  color: inherit;
  display: block;
  transition: 0.2s ease;

  &:hover {
    transform: translateY(-3px);
  }
}

.title {
  margin-bottom: 10px;
}

.excerpt {
  color: #666;
}

.image {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

[data-theme="dark"] {
  
  .card {
    background: #333;
    color: #fff;
    border: solid 1px #555;
    transition: all 0.3s ease;
  }
  
  .title {
    color: #fff;
    transition: all 0.3s ease;
  } 

  .excerpt {
    color: #aaa;
    transition: all 0.3s ease;
  }
}