.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  border: none;
  cursor: pointer;

  min-width: 100px;
  padding: 8px 12px;

  font-size: 16px;
  border-radius: 8px;

  color: #444;
  transition: all 0.2s ease;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  /* =======================
     VARIANTS
  ======================= */

  &.success {
    background-color: #85c68c;
    color: #fff;

    &:hover:not(:disabled) {
      filter: brightness(1.05);
    }
  }

  &.warning {
    background-color: rgb(93, 133, 186);
    color: #fff;

    &:hover:not(:disabled) {
      filter: brightness(1.05);
    }
  }

  &.danger {
    background-color: #f27d7d;
    color: #fff;

    &:hover:not(:disabled) {
      filter: brightness(1.05);
    }
  }

  &.small {
    padding: 4px 6px;
    border-radius: 6px;
    min-width: auto;
    font-size: 14px;
  }

  &.search {
    background-color: #121419;
    color: #dbe6fe;
    border: 1px solid #dbe6fe;

    &:hover:not(:disabled) {
      background-color: #1a1d23;
    }
  }

  &.dark {
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 24px;

    transition: 0.3s;

    &:hover:not(:disabled) {
      background-color: #18181f;
      color: #fff;
      box-shadow: inset 26px 0px 0px 0px #fff;
    }
  }

  /* =======================
     PAGINATION BUTTON
  ======================= */

  &.pageButton {
    min-width: 36px;
    height: 36px;

    padding: 0;
    border-radius: 8px;

    background: #eaeaea;

    &:hover:not(:disabled) {
      background: #9a9a9a;
    }

    &:active {
      transform: scale(0.95);
    }

    &.active {
      background: #2d6bff;
      color: #fff;
      font-weight: 600;
    }
  }

  /* =======================
     NAV BUTTON
  ======================= */

  &.navButton {
    padding: 8px 12px;
    border-radius: 8px;

    background: #eaeaea;
    color: #2d6bff;

    min-width: auto;

    &:hover:not(:disabled) {
      background: #9a9a9a;
    }

    &:disabled {
      opacity: 0.4;
    }
  }
}

/* =======================
   DARK THEME OVERRIDE
======================= */

[data-theme="dark"] {
  .button {
    &.dark {
      background-color: #18181f;
      color: #fff;

      &:hover:not(:disabled) {
        background-color: #fff;
        color: #444;
        box-shadow: inset 26px 0px 0px 0px #18181f;
      }
    }
    &.pageButton {
      background: #0f1317;
      color: #fff;

      &:hover:not(:disabled) {
        background: #777;
      }

      &.active {
        background: #2d6bff;
        color: #fff;
        font-weight: 600;
      }
    }
    &.navButton {
      background: #0f1317;
      color: #fff;

      &:hover:not(:disabled) {
        background: #777;
      }

      &:disabled {
        opacity: 0.4;
      }
    }
  }
}
